@import 'reset.css';

:root{
    --background-color: #fff;
    --font-color: #000;
}

.livefeed{
    width: 50vw;
    height: 100vh;
    position: relative;
}
#pose-video{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}
#pose-canvas{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
}